{% extends "base.html" %}

{% block precontent %}
    <section id="titlebar">
        <div class="container">
            <div class="sixteen columns">
                <!-- Headline -->
                <h2>Payment Confirmation</h2>
            </div>
        </div>
    </section>
{% endblock precontent %}

{% block pagecontent %}
<div class="container">
    <div class="clearfix"></div>
    <h4>Payment Completed for ComeShop items</h4>
    <p>
        Thank your for your business. Your payment was received and your items will be shipped to the address you
        provided.
    </p>
</div>
{% endblock pagecontent %}
