{% extends "base.html" %}

{% block precontent %}
    <section id="titlebar">
        <div class="container">
            <div class="sixteen columns">
                <!-- Headline -->
                <h2>Payment Cancelled</h2>
            </div>
        </div>
    </section>
{% endblock precontent %}

{% block pagecontent %}
<div class="container">
    <div class="clearfix"></div>
    <h4>Payment Cancellation for ComeShop items</h4>
    <p>
        Thank your for your business. Your payment for the items in your cart have been cancelled.
    </p>
</div>
{% endblock pagecontent %}