
{% extends "base.html" %}

{% block precontent %}
<!-- Titlebar
================================================== -->
<section id="titlebar">
	<!-- Container -->
	<div class="container">

		<div class="eight columns">
			<h2>Shop</h2>
		</div>

		<div class="eight columns">
			<nav id="breadcrumbs">
				<ul>
					<li>You are here:</li>
					<li><a href="#">Home</a></li>
					<li>Shop</li>
				</ul>
			</nav>
		</div>

	</div>
	<!-- Container / End -->
</section>
{% endblock precontent %}


{% block pagecontent %}
<div class="container">

	<!-- Products -->
	<div class="twelve columns left-sidebar-class">

		<!-- Ordering -->
		<div class="ordering">
			<select class="chosen-select-no-single">
				<option value="menu_order" >Default Sorting</option>
				<option value="popularity" >Sort by Popularity</option>
				<option value="rating" >Sort by Average Rating</option>
				<option value="date">Sort by Newness</option>
				<option value="price" >Sort by Price: Low to High</option>
				<option value="price-desc" >Sort by Price: High to Low</option>
			</select>
		</div>
		<div class="clearfix"></div>


		{% for recipe in recipes %}
 		<!-- Product #1 -->
 		<div class="four shop columns">
 			<figure class="product">
 				<div class="mediaholder">
 					<a href="product-page.html">
						<img alt="" src="/recipe/image/{{recipe.id}}"/>
 					</a>
 					<a href="{% url add_to_cart %}" class="product-button"><i class="fa fa-shopping-cart"></i></a>
 				</div>
 
 				<a href="product-page.html">
 					<section>
						<span class="product-category">{{recipe.type}}</span>
						<h5>{{recipe.description}}</h5>
 						<span class="product-price">${{recipe.price}}</span>
 					</section>
 				</a>
 			</figure>
 		</div>
		{% endfor %}
 
		<div class="clearfix"></div>
		<div class="margin-top-40"></div>

		<!-- Pagination -->
		<div class="pagination-container masonry">
			<nav class="pagination">
				<ul>
					<li><a href="#" class="current-page">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
				</ul>
			</nav>

			<nav class="pagination-next-prev">
				<ul>
					<li><a href="#" class="prev"></a></li>
					<li><a href="#" class="next"></a></li>
				</ul>
			</nav>
		</div>

	</div>


	<!-- Sidebar
	================================================== -->
	<div class="four columns">

		<!-- Search Form -->
		<div class="widget search-form">
			<nav class="search">
				<form action="#" method="get">
					<button><i class="fa fa-search"></i></button>
					<input class="search-field" type="text" placeholder="Search for products" value=""/>
				</form>
			</nav>
			<div class="clearfix"></div>
		</div>


		<!-- Cart -->
		<div class="widget">
			<h4 class="headline">Cart</h4>
			<span class="line margin-bottom-30"></span>
			<div class="clearfix"></div>
			
			<div class="widget_shopping_cart_content">
				{% if recipe_cart %}
				<ul class="product_list_widget">
					{% for cart_item in recipe_cart.cart_items %}
					<li>
						<a href="#" class="image"><img src="/recipe/image/{{cart_item.item_id}}" alt=""></a>
						<div class="product_title">
							<a href="#">{{cart_item.description}}</a>
							<span class="quantity">
								{{cart_item.quantity}} × <span class="amount">${{cart_item.price|floatformat:2}}</span>
							</span>
						</div>
					</li>
					{% endfor %}
				</ul>

				<p class="total"><strong>Subtotal:</strong>
				<span class="amount">${{recipe_cart.total|floatformat:2}}</span></p>

				<span class="buttons">
					<a href="#" class="button">View Cart</a>
					<a href="#" class="button color">Checkout</a>
				</span>
				{% endif %}
			</div>
		</div>


	 	<!-- Widget -->
	 	<div class="widget">
			<h4 class="headline">Filter by Price</h4>
			<span class="line margin-bottom-30"></span>
			<div class="clearfix"></div>

			<div id="price-range">
				<div class="padding-range"><div id="slider-range"></div></div>
				<label for="amount">Price:</label>
				<input type="text" id="amount"/>
				<a href="#" class="button color">Filter</a>
			</div>
			<div class="clearfix"></div>
	 	</div>

	</div>

</div>
<!-- Container / End -->

{% endblock pagecontent %}
